<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ParqWebJSF" version="2.5"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
    
	<session-config>
		<session-timeout>600</session-timeout>    <!-- 600 minutes, 10 hours -->
	</session-config>
    
	<error-page>
		<error-code>404</error-code>
		<location>/web/templates/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/web/templates/500.jsp</location>
	</error-page>

    
	<welcome-file-list>
		<welcome-file>/web/main.jsp</welcome-file>  
	</welcome-file-list> 
	
</web-app>
