{% extends "base.html" %}

{% block title %} PARQ | FAQ {% endblock %}

{% block body %}
<div class="container" id="faq">
  <h1>Frequently Asked Questions</h1>
  <div class="well">
    <h3>Where can I download the Parq app?</h3>
    <p>You can download the app from the Android Market.</p>
  </div>
  <div class="well">
    <h3>What is included with the app downloaded from the Android Market?</h3>
    <p>The App is a "one-touch" parking system. It allows a user to start their parking with the touch of a button. Furthermore, the App serves as a reminder of how much time is left, sends reminders when the meter is running out, and allows for a user to refill the meter wherever they are. Finally, the App also acts as a tool to locate the user's car when they are ready to leave.</p>
  </div>
  <div class="well">
    <h3>How do I set reminders in the app?</h3>
    <p>The settings menu allows a user to set how often they would like to receive reminders.
</p>
  </div>
  <div class="well">
    <h3>How do I add more time?</h3>
    <p>You can select more time using the Refill function and then pay for the extra time.</p>
  </div>
  <div class="well">
    <h3>Can I leave even if there is time remaining?</h3>
    <p>Yes, but you will not receive any discount for doing so.</p>
  </div>
  <div class="well">
    <h3>What happens when the time is up?</h3>
    <p>If time runs low, you will receive a reminder. If you choose not to refill, then the time will run out and you will be susceptible to receiving a ticket.</p>
  </div>
  <div class="well">
    <h3>Can I set automatic payments?</h3>
    <p>Yes, there is an option under the Refill option for automatic refills. You can set how much time to have left before an automatic refill as well as how many automatic refills you want.</p>
  </div>
</div>

{% endblock %}
