<footer class="footer">
  <div class="container">
    <div class="icons">
      <h6 class="pull-left">Download now:</h6>
      <img class="pull-left" src="{{STATIC_URL}}images/android.png" />
      <img class="pull-left" src="{{STATIC_URL}}images/apple.png" />
      <p style="clear:both"></p>
    </div>
    <center>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/features">How it Works</a></li>
	<li><a href="/faq">FAQ</a></li>
	<li><a href="/about">About PARQ</a></li>
      </ul>
      <p id="systemizer"><em>Site built by <a target="_blank" href="http://twitter.com/systemizer">@systemizer</a></em>
      </p>
    </center>
  </div>
</footer>
