{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
{% include "main_map.js" %}
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete-min.js"></script>
<link href="{{STATIC_URL}}css/autocomplete.css" type="text/css/" rel="stylesheet" />
<script type="text/javascript">
$(document).ready(function() { 
   $('#search-location').autocomplete({
      'serviceUrl':'/actions/autocomplete_location/'
   });
});
</script>
{% endblock %}

{% block body %}
<div id="parqform-container">
  <div class="container">
    <span>
    <form id="parqform" action="/user/view/location" method="GET">
      <div class="pull-left span16">
	<div class="pull-left span13">
	  <input type="text" id="search-location" name="location" placeholder="Find a spot near..." />
	</div>
	<input type="submit" id="search-loction-button" class="btn large pull-right span3" value="PARQ me!" />
      </div>
      
      <p class="clear"></p>
    </form>
  </div>
</div>
<div class="container-fluid">
  <div class="sidebar">
    <p class="well">Looking for a place to park? Tell us where you are and let us guide you to the nearest parking space.</p>
  </div>
  <div class="content">
    <div id="map_canvas">
    </div>
    <p style="clear:both"></p>
  </div>
</div>

{% endblock %}
