{% extends "base.html" %}

{% block title %}PARQ | Login page {% endblock %}

{% block body %}
<div class="container">
  <center>
    <div class="well span8">
      <h2>Login</h2>
      
      <form action="{{form_action}}" method="POST">
	{% csrf_token %}
	<table>
	  {{form.as_table}}
	  <tr>
	    <td colspan="2">
	      <center>
		<input type="submit" class="btn large" value="{{form_button}}" />
	      </center>
	    </td>
	  </tr>
	</table>
      </form>
    </div>
  </center>
</div>
{% endblock %}
