{% extends "base.html" %}

{% block title %} PARQ | Features {% endblock %}


{% block body %}
<div class="container">
  <div id="features" class="well">
    <h2>How does it work?</h2>
    <p>Parq is revolutionizing parking.</p>
    <p>
      Why waste time finding parking spots?
      Why waste money paying fines for expired meters?
    </p>
    <p>
      With Parq, you will be able to:
      find parking
      remotely refill parking
      find your car
      and much more.  All in the palm of your hand with your smartphone.
    </p>
    <p>
      Join us and see how much time and money you will save.
    </p>
  </div>
</div>
{% endblock %}
